#tar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.intro {
    font-size: 30px;
    align-content: center;
    background-position: center; 
}

.box3 {
    background-size: contain;
    background-color:whitesmoke;
    background-position: center;
    background-size: contain;
}
header {
    text-align: center;
}
footer {
    text-align: left;
}
body {
    color: darkorange;
}
#banner {
    font-style: italic;
    color: gold;
}

.box {background-color: whitesmoke;
    background-size: contain;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    text-align: left;
    border: 30px yellowgreen;


}
.box1 {
    background-position: left;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
    background-size: contain;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border: 100px solid white;
}
.image {
    justify-content: center;
    align-items: center;
}
.image img {
    width: 280px;
    border-radius: 60%;
    border: 10px solid white;
}
.section {
    padding: -30px;
    margin: -2px;
}
